body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.logo {
    width: 250px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make sure the image behaves as a block element */
    margin: 0 auto 10px auto;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Arial', sans-serif; /* Change font if desired */
    background-color: #e6e6fa; /* Lavender color */
    border-radius: 12px; /* Semi-curved corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

nav ul li a:hover {
    background-color: #d3d3f2; /* Slightly darker lavender for hover effect */
    color: #333; /* Change text color on hover */
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px 0;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

html {
    scroll-behavior: smooth;
}